HOST=https://your-app-host
SHOPIFY_API_KEY=
NEXT_PUBLIC_SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_API_VERSION=2024-10
SHOPIFY_SCOPES=read_script_tags,write_script_tags
JWT_SECRET=
DATABASE_URL=postgresql://user:pass@localhost:5432/storelocator_app
SHOPIFY_WEBHOOK_SECRET=
